<div class="user-info">
  <%= render partial: 'items/link', locals: { user: current_user } %>
  <div class="pull-right">
    <%= "Tasks to complete:" unless @items.count == nil%>
      <div id="tasks">
        <% @items.each_with_index do |item, index| %>
          <div id="uncompleted_list_item_<%=index+1%>">
            <%= render item %>
          </div>
        <% end %>
      </div>
    <br>
  </div>
</div>
