<div class="submission-form">
  <div class="col-md-6">
    <%= form_for [user, item], id: "to-do-form", remote: true do |f| %>
       <div class="form-group">
         <%= f.label :name, class: 'sr-only' %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new item to do" %>
       </div>
       <%= f.submit "Submit Item", class: 'btn btn-default pull-right' %>
     <% end %>
  </div>
</div>
